<ion-view view-title="About">
  <ion-content class="has-header">
    <div class="row">
      <div class="col">
          <div class="details">
              <img ng-src="img/rizki_mufrizal.jpg" width="100" height="100"/>
              <h4>Rizki Mufrizal</h4>
              <p>Java and Java Developer<br/>
              Jakarta</p>
          </div>

          <div class="list card">
              <a class="item item-icon-left" href="https://github.com/RizkiMufrizal">
                  <i class="icon ion-social-github"></i>Rizki Mufrizal
              </a>
              <a class="item item-icon-left" href="https://www.facebook.com/rizkimufrizal">
                  <i class="icon ion-social-facebook"></i>Rizki Mufrizal
              </a>
          </div>

          <div class="list card">
              <a class="item item-icon-left col-center" href="https://github.com/RizkiMufrizal">
                  <i class="icon ion-android-bulb"></i>Our Technology
              </a>
              <a class="item item-icon-left">
                  <i class="icon ion-social-angular"></i>Angular JS
              </a>
              <a class="item item-icon-left">
                  <i class="icon ion-social-nodejs"></i>Node JS
              </a>
              <a class="item item-icon-left">
                  <i class="icon ion-social-html5"></i>HTML 5
              </a>
              <a class="item item-icon-left">
                  <i class="icon ion-social-tux"></i>Linux
              </a>
              <a class="item item-icon-left">
                  <i class="icon ion-social-android"></i>Android
              </a>
          </div>

      </div>
    </div>
  </ion-content>
</ion-view>
