<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Comment to {{userPost.namaPost}}</h1>
    </ion-header-bar>
    <ion-content>

        <div class="list">
            <div ng-repeat="u in userPost.commentDetail">
                <a class="item item-avatar" href="#">
                    <img src="img/ionic.png">
                    <h2>{{u.namaComment}}</h2>
                    <p>{{u.commentDetail}}</p>
                </a>
            </div>
        </div>

        <form ng-submit="commentPost()">
            <div class="bar bar-header item-input-inset">
                <label class="item-input-wrapper">
                    <input type="search" placeholder="Kirim Komentar Mu" ng-model="inputComment.comment">
                </label>
                <button type="submit" class="button button-clear">
                    Kirim
                </button>
            </div>
        </form>

    </ion-content>
</ion-modal-view>
