<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Comment to {{userPost.namaPost}}</h1>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="commentPost()">
      <div class="list">
        <label class="item item-input">
          <input placeholder="Kirim Komentar Mu" type="text" ng-model="inputComment.comment">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Kirim</button>
        </label>
        </div>
    </form>
  </ion-content>
</ion-modal-view>
