<ion-view view-title="Activity">
    <ion-content class="animate-fade-slide-in">
        <div class="card stable-bg ink ink-dark">
            <div class="item item-avatar">
                <img src="img/ionic.png">
                <h2>Cek</h2>
                <i class="icon ion-chatbubbles positive"></i> 6
                <i class="icon ion-heart assertive"></i> 23
                <div class="pull-left">
                    <i class="icon ion-clock"></i> just now
                </div>
            </div>
        </div>
        <div class="card stable-bg ink ink-dark">
            <div class="item item-avatar">
                <img src="img/ionic.png">
                <h2>Cek</h2>
                <i class="icon ion-chatbubbles positive"></i> 6
                <i class="icon ion-heart assertive"></i> 23
                <div class="pull-left">
                    <i class="icon ion-clock"></i> just now
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
